@media screen and (min-width: 300px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Sniglet', cursive;
    }
    
    #app {
        height: 100%;
    }

    .keys {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 12.5vh;
    }

    .key {
        cursor: pointer;
        border: 1.1vh solid black;
        border-radius: 1.25vh;
        margin: 5vh;
        font-size: 4.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .07s ease;
        width: 10vh;
        height: 10vh;
        text-align: center;
        color: white;
        background: rgba(0,0,0,0.4);
        text-shadow: 0 0 1.25vh black;
    }

    .playing {
        transform: scale(1.1);
        border-color: #ffc600;
        box-shadow: 0 0 2.5vh #ffc600;
    }
}