@media screen and (min-width: 300px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Sniglet', cursive;
        background-color: #9eedff;
    }
    
    #app {
        height: 100%;
    }

    .keys {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 12.5vh;
    }

    .key {
        cursor: pointer;
        border: 0.8vh solid black;
        font-weight: 600;
        border-radius: 2.25vh;
        margin: 5vh;
        font-size: 4.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .07s ease;
        width: 10vh;
        height: 10vh;
        text-align: center;
        color: #000000;
    }

    .key-1 {
        background: rgb(255, 212, 0);
    }

    .key-2 {
        background: rgb(255, 165, 0);
    }

    .key-3 {
        background: rgb(86, 255, 0);
    }

    .key-4 {
        background: rgb(0, 208, 255);
    }

    .key-5 {
        background: rgb(228, 0, 255);
    }

    .key-6 {
        background: rgb(255, 151, 255);
    }

    .key-7 {
        background: rgb(75, 255, 0);
    }

    .key-8 {
        background: rgb(255, 0, 59);
    }

    .key-9 {
        background: rgb(228, 0, 255);
    }

    .key-10 {
        background: rgb(0, 208, 255);
    }

    .key-11 {
        background: rgb(251, 255, 0);
    }

    .key-12 {
        background: rgb(255, 165, 0);
    }

    .key-13 {
        background: rgb(0, 255, 149);
    }

    .key-14 {
        background: #ff97ff;
    }

    .key-15 {
        background: rgb(0, 255, 149);
    }

    .key-16 {
        background: rgb(75, 255, 0);
    }

    .key-17 {
        background: rgb(255, 0, 59);
    }

    .key-18 {
        background: rgb(255, 165, 0);
    }

    .key-19 {
        background: rgb(0, 208, 255);
    }

    .key-20 {
        background: rgb(251, 255, 0);
    }

    .key-21 {
        background: rgb(228, 0, 255);
    }

    .key-22 {
        background: rgb(251, 255, 0);
    }

    .key-23 {
        background: rgb(0, 255, 243);
    }

    .key-24 {
        background: rgb(228, 0, 255);
    }

    .key-25 {
        background: rgb(75, 255, 0);
    }

    .key-26 {
        background: rgb(255, 165, 0);
    }

    .playing {
        transform: scale(1.1);
        border-color: #cc00ff;
        box-shadow: 0 0 2.5vh #cc00ff;
    }
}